.CategoriesMenu
  z-index: 100;

  &__wrapper
    align-items: center;
    cursor: pointer;
    display: flex;

  &__text
    font-size: 1.6rem;
    padding: 0 1.6rem;

  &__icon
    height: 2.7rem;
    width: 2.4rem;