.InfoBar
  display: flex;
  justify-content: center;

  &__grid
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(2, 32rem);
    padding-bottom: 2.4rem;

    &__title
      font-size: 4rem;