.Navbar
  align-items: center;
  box-shadow: 0 3px 15px $color-box-shadow;
  display: flex;
  height: 100%;

  &__wrapper
    align-items: center;
    display: flex;
    flex: 1;
    margin: auto;
    max-width: $size-max-width;
    padding: 0 2.4rem;


  &__logo
    width: 16rem;

    & img
      width: 100%;