.Navbar
  align-items: center;
  box-shadow: 0 3px 15px $color-box-shadow;
  display: flex;
  height: 100%;

  &__content
    align-items: center;
    display: flex;
    flex: 1;
    margin: auto;
    max-width: $size-max-width;
    padding: 0 2.4rem;


  &__logo
    width: 16rem;

    &__icon
      display: block;

      & img
        width: 100%;

  &__favorites
    align-items: center;
    color: $color-black;
    display: flex;
    margin-left: 1.6rem;
    text-decoration: none

    &__text
      font-size: 1.6rem;
      padding-right: 1.6rem;

    &__icon
      height: 2.4rem;
      width: 2.4rem;

      & img
        height: 100%;
        width: 100%;
