.SearchAmiibos
  flex: 1;

  &__item
    align-items: center;
    border-bottom: 0.1rem solid $color-grey;
    display: flex;
    padding: 1.6rem;

    &__image
      height: 6.4rem;
      width: 6.4rem;

      & img
        height: 100%;
        object-fit: contain;
        width: 100%;

    &__info
      color: $color-grey;
      font-size: 1.6rem;
      font-weight: 400;
      padding-left: 2.4rem;

  &__search
    display: flex;

    &__link
      color: $color-black;
      display: block;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 2.4rem;
      text-decoration: none;