@import "react-toggle/style.css"
@import "./variables.styl"
@import "../components/global/AmiiboItem/amiiboItem.styl";
@import "../components/global/AmiiboList/amiiboList.styl";
@import "../components/global/Navbar/navbar.styl";
@import "../components/global/SearchAmiibos/SearchAmiibos.styl";
@import "../components/global/SearchBar/searchBar.styl";
@import "../components/global/Backdrop/backdrop.styl";
@import "../components/global/Drawer/drawer.styl";
@import "../components/global/CategoriesDrawer/categoriesDrawer.styl";
@import "../components/global/InfoBar/infoBar.styl";
@import "../components/global/SortBy/sortBy.styl";
@import "../components/global/Filters/filters.styl";
@import "../components/global/Filters/FilterItem/filterItem.styl";
@import "../components/global/DarkToggle/darkToggle.styl";
@import "../components/home/CategoriesMenu/categoriesMenu.styl";
@import "../components/home/Home/home.styl";
@import "../components/results/Results/results.styl";
@import "../components/categories/Categories/categories.styl";
@import "../components/favorites/Favorites/favorites.styl";
  
*,
*::before,
*::after 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

html 
  font-size: 62.5%;

body 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--theme-text);
  background-color: var(--theme-background);

code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;