.CategoriesDrawer
  &__title
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.6rem;
    text-align: center;

  &__list
    font-size: 1.8rem;
    list-style: none

    &__item
      cursor: pointer;
      margin: 0.8rem 0;
      padding: 0.4rem 3.6rem;