.Home
  padding-top: $size-header-height;

  &__header
    background: $color-white;
    height: $size-header-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

  &__main
    display: flex;
    justify-content: center;
    padding-top: $size-header-height;

    &__info
      padding: 0 1.6rem;